LoanAssessment/LoanAssessment/businessCatalog/BusinessObjects/CreditHistoryReport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.0.8" build="0.8" fullName="BusinessObjects.CreditHistoryReport" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/CreditHistoryReport" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:ns1="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/LoanInfo"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/CreditHistoryReport"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/LoanInfo" schemaLocation="LoanInfo.xsd"/>
    <xs:complexType name="CreditHistoryReportType">
        <xs:sequence>
            <xs:element name="financialOfficerIdentifier" nillable="true" type="xs:string"/>
            <xs:element name="loanApplicationRef" nillable="true" type="xs:string"/>
            <xs:element name="creditAssessment" nillable="true" type="xs:string"/>
            <xs:element name="loanApplicationHistory" nillable="true" type="ns1:LoanInfoType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CreditHistoryReport" type="CreditHistoryReportType"/>
</xs:schema>
