LoanAssessment/LoanAssessment/businessCatalog/BusinessObjects/RepaymentAgreement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.0.8" build="0.8" fullName="BusinessObjects.RepaymentAgreement" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/RepaymentAgreement" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/RepaymentAgreement"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="RepaymentAgreementType">
        <xs:sequence>
            <xs:element name="loanApplicationReference" default="" type="xs:string"/>
            <xs:element name="monthlyRepaymentAmount" default="0.000" type="xs:decimal"/>
            <xs:element name="numberOfRepayment" default="0" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="RepaymentAgreement" type="RepaymentAgreementType"/>
</xs:schema>
