LoanAssessment/LoanAssessment/SCA-INF/classes/businessCatalog/BusinessObjects/AddressInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.0.8" build="0.8" fullName="BusinessObjects.AddressInfo" modifiers="0"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/AddressInfo" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/AddressInfo"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="AddressInfoType">
        <xs:sequence>
            <xs:element name="streetName" default="" type="xs:string"/>
            <xs:element name="streetNumber" default="0" type="xs:int"/>
            <xs:element name="city" default="" type="xs:string"/>
            <xs:element name="postalCode" default="" type="xs:string"/>
            <xs:element name="state" default="" type="xs:string"/>
            <xs:element name="surburb" default="" type="xs:string"/>
            <xs:element name="durationOfStay" default="0.000" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AddressInfo" type="AddressInfoType"/>
</xs:schema>
