LoanAssessment/LoanAssessment/SCA-INF/classes/businessCatalog/BusinessObjects/AgreementSummary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.0.8" build="0.8" fullName="BusinessObjects.AgreementSummary" modifiers="0"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/AgreementSummary" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/AgreementSummary"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="AgreementSummaryType">
        <xs:sequence>
            <xs:element name="loanApplicationReference" default="" type="xs:string"/>
            <xs:element name="conditionsAgreedByApplicant" default="false" type="xs:boolean"/>
            <xs:element name="repaymentScheduleAgreedByApplicant" default="false" type="xs:boolean"/>
            <xs:element name="repaymentAgreementCopyRef" default="" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AgreementSummary" type="AgreementSummaryType"/>
</xs:schema>
