LoanAssessment/LoanAssessment/SCA-INF/classes/businessCatalog/BusinessObjects/BankAccountInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.0.8" build="0.8" fullName="BusinessObjects.BankAccountInfo" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/BankAccountInfo" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/BankAccountInfo"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="BankAccountInfoType">
        <xs:sequence>
            <xs:element name="accountNumber" default="" type="xs:string"/>
            <xs:element name="accountType" default="" type="xs:string"/>
            <xs:element name="bankName" default="" type="xs:string"/>
            <xs:element name="accountBalance" default="0.000" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="BankAccountInfo" type="BankAccountInfoType"/>
</xs:schema>
