LoanAssessment/LoanAssessment/SCA-INF/classes/businessCatalog/BusinessObjects/FinancialInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.0.8" build="0.8" fullName="BusinessObjects.FinancialInfo" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/FinancialInfo" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:ns2="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/BankAccountInfo"  xmlns:ns1="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/JobInfo"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/FinancialInfo"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/BankAccountInfo" schemaLocation="BankAccountInfo.xsd"/>
    <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/JobInfo" schemaLocation="../../xsd/JobInfo.xsd"/>
    <xs:complexType name="FinancialInfoType">
        <xs:sequence>
            <xs:element name="jobInfo" type="ns1:JobInfoType"/>
            <xs:element name="bankAccounts" type="ns2:BankAccountInfoType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="FinancialInfo" type="FinancialInfoType"/>
</xs:schema>
