LoanAssessment/LoanAssessment/SCA-INF/classes/businessCatalog/BusinessObjects/HomeInsuranceQuote.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.0.8" build="0.8" fullName="BusinessObjects.HomeInsuranceQuote" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/HomeInsuranceQuote" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/HomeInsuranceQuote"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="HomeInsuranceQuoteType">
        <xs:sequence>
            <xs:element name="loanApplicationReference" default="" type="xs:string"/>
            <xs:element name="totalCost" default="0.000" type="xs:decimal"/>
            <xs:element name="monthlyLoanRepaymentAddCost" default="0.000" type="xs:decimal"/>
            <xs:element name="termsAndCondition" default="" type="xs:string"/>
            <xs:element name="insuranceSalesRepIdentifier" default="" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="HomeInsuranceQuote" type="HomeInsuranceQuoteType"/>
</xs:schema>
