LoanAssessment/LoanAssessment/xsd/PropertyAppraisal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.0.8" build="0.8" fullName="BusinessObjects.PropertyAppraisal" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/PropertyAppraisal" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:ns1="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/SurroundingPropertyInfo"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/PropertyAppraisal"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/SurroundingPropertyInfo" schemaLocation="SurroundingPropertyInfo.xsd"/>
    <xs:complexType name="PropertyAppraisalType">
        <xs:sequence>
            <xs:element name="loanApplicationRef" default="" type="xs:string"/>
            <xs:element name="propertyAppraiserIdentifier" default="" type="xs:string"/>
            <xs:element name="surroundingProperties" type="ns1:SurroundingPropertyInfoType" maxOccurs="unbounded"/>
            <xs:element name="estimateMarketValue" default="0.000" type="xs:decimal"/>
            <xs:element name="propertyComment" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="PropertyAppraisal" type="PropertyAppraisalType"/>
</xs:schema>
