LoanAssessment/LoanAssessment/xsd/RiskAssessment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.0.8" build="0.8" fullName="BusinessObjects.RiskAssessment" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/RiskAssessment" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/RiskAssessment"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="RiskAssessmentType">
        <xs:sequence>
            <xs:element name="creditHistoryReportRef" default="" type="xs:string"/>
            <xs:element name="riskWeight" default="0" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="RiskAssessment" type="RiskAssessmentType"/>
</xs:schema>
